.container {
    display: grid;
    grid-template-columns: 8% 1fr 8%;
    margin-top: 1%;
}

.item {
    grid-column-start: 2;
}

@media only screen and (min-width: 700px) {
    .container {
        grid-template-columns: 30% 1fr 30%;
    }
  }